
/*this is css file for tiy3*/
header{
	background-color: #666666;
}

nav{
	font-family:Arial;
	font-size:150%;
}

a{
	font-variant: small-caps;
}


h2{
	color:#666666;
	background: #00B7EA;
}

details{
	font-style:italic;
}

 summary{
	 font-style:normal;
 }



footer{
	background-color: #666666;
}
