
h1{
  background-color: #5F5F5F;
  text-align:center;
  color:white;
  font-variant: small-caps;
}
section{
  width: 50%;
  height: 30%;
}
span{
  background-color: #F1F1F1;
  color: #DC082F;
}
ul{
  font-family: Courier;
}
